#email {
  color: rgb(80, 93, 107);
}

#Hi {
   color: black; 
}

#certificates {
  text-align: center;
}

#photo {
  border-radius: 4%;
}

#bears {
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 5%;
}

.btn {
  display: block;
  padding: 15px 30px;
  margin: 7px 220px;
  transition: ease-out 0.4s;
  border-radius: 4%;
}

.proficient-logos i {
  color: Black;
  font-size: 60px;
  padding: 1.5rem;
}

.projects-page {
   background: #f5f3ef;
    text-align: center; 
}

.hero {
    background: #decbc2;
    text-align: center;
}

h1 {
    display: block;
    padding: 10px 10px;
    font-family: 'Dancing Script', cursive;
}

body {
    font-family: 'Manrope', sans-serif;
}